# Ignore node_modules folder
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore the default SQLite database.
src/database/*.sqlite
src/database/*.sqlite*

# Ignore reports and coverage
/reports/*
coverage
